<div>
  <% for(product of products ){ %>
    <h1>
      <%= product.productName %>
    </h1>
    <p>
      <%= product.quantity %>
    </p>
    <p>
      <%= product.productDescription %>
    </p>

    <% } %>

</div>